
<div class="bar bar-header bar-energized">
    <h1 class="title">BeerWhere</h1>
</div>

<ion-view>
    <ion-content class="has-header has-footer">

        <div ng-show="IsOffline" class="padding">
            <h4 class="positive text-center padding-vertical">
                Please check your internet connection and try again.
            </h4>
            <a class="button button-block button-calm row-center" ng-click="Retry()">
                Retry
            </a>
        </div>

        <div ng-hide="IsOffline">

            <div class="beer-list">
                <div class="beer-list-item" ng-repeat="checkin in checkins">

                    <div class="beer-list-user">
                        <img src="{{ checkin.user.user_avatar }}" />
                        <h2>{{ checkin.user.user_name }}</h2>
                        <h3>{{ checkin.venue.venue_name }}</h3>
                    </div>
                    <div class="beer-list-beer">
                        <img src="{{ checkin.beer.beer_label }}" />
                        <h2>{{ checkin.beer.beer_name }}</h2>
                        <h3>by {{ checkin.brewery.brewery_name }}</h3>
                    </div>

                </div>
            </div>

        </div>

    </ion-content>
</ion-view>

